.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Adjust as needed */
}
.dropdown-item:hover{
  background-color: blue;
  color: white;
}

.navbar{
  box-shadow: 1px 1px 10px;
  background-color: #FBF8EF;
}

/* Customize font size */
.navbar .nav-link {
  font-size: 1.05rem; /* Increase font size */
}

.container-fluid{
  margin: 3rem;
  width: 100%;
}

.dropdown-menu {
  padding: 10px; /* Add padding if needed */
  height:auto;
  font-size: 1.05rem; /* Increase font size */
  background-color: aliceblue;
}

/* Set text color to black */
.navbar-nav .nav-link, .navbar-brand {
  color: black !important;
}

/* Set background color of collapse content to white */
.navbar-collapse {
  background-color: white;
}

/* Set text color to black */
/* Set text color to black */
.navbar-nav .nav-link, .navbar-brand {
  color: black !important;
}

/* Set background color of collapse content to white */
.navbar-collapse {
  background-color: white;
}


.nav-item{
  background-color: #D9EAFD;
  border-radius: 10px;
  padding: 1px;
}


/* Apply styles specifically to the 'Login/SignUp' button only */
.navbar .nav-item.sign-up .nav-link.custom-login-btn {
  font-size: 1.1rem; /* Increase font size */
  border: 2px solid #000; /* Optional: Add border */
  border-radius: 5px; /* Optional: Round edges */
  background-color: #f8f9fa; /* Light background color */
  color: #000; /* Text color */
  transition: all 0.3s ease; /* Smooth hover effect */
}

/* Apply hover effect to 'Login/SignUp' button */
.navbar .nav-item.sign-up .nav-link.custom-login-btn:hover {
  background-color: #000; /* Background color on hover */
  color: white !important; /* Force white text color on hover */
}


