.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Adjust as needed */
}
.dropdown-item:hover{
  background-color: blue;
  color: white;
}

/* Customize the navbar height */
.navbar {
  height: 7rem; /* Adjust as needed */
}

/* Customize font size */
.navbar .nav-link {
  font-size: 1.05rem; /* Increase font size */
}

.container-fluid{
  margin: 5rem;
  width: 100%;
}

.dropdown-menu {
  padding: 10px; /* Add padding if needed */
  height:auto;
  font-size: 1.05rem; /* Increase font size */

}

